@font-face {
  font-family: 'Latin Modern Roman';
  src: url('fonts/lmroman-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Latin Modern Roman';
  src: url('fonts/lmroman-bolditalic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Latin Modern Roman';
  src: url('fonts/lmroman-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Latin Modern Roman';
  src: url('fonts/lmroman-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Latin Modern Roman Caps';
  src: url('fonts/lmromancaps-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Latin Modern Mono';
  src: url('fonts/lmmono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MathJax_Math-italic';
  src: url('fonts/MathJax_Math-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

body { margin: 8px; border: 0; padding: 0; }
div, span { margin: 0; border: 0; padding: 0; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #00E;
}
a:hover { text-decoration: underline; }

.noselect { user-select: none; }

.main-grid {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr;
  grid-gap: 25px;
}
.flex {
  display: flex;
  flex-flow: row wrap;
  gap: 12px 12px;
}

#top {
  font-size: 1.75em;
  font-weight: 600;
  margin: 0 0 10px 0;
}
#top > * {
  margin: 0 5px;
}
#top img, #top svg { height: 18pt; }
#top a {
  color: black;
  text-decoration: none;
}
#burger svg {
  height: 20px;
  cursor: pointer;
}

ul#nav {
  margin: 0;
  padding: 0 0 0 6px;
  list-style-position: inside;
  font-size: medium;
  font-weight: normal;
}
#nav a { color: black; }

#burger #nav {
  position: absolute;
  background-color: #fff;
  z-index: 1;
  padding: 10px 10px 10px 6px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#main {
  overflow-y: auto;
  text-align: left;
  max-width: 1000px;
}
.main-grid #main {
  margin: 0 5px 0 0;
}
#main > p {
  text-indent: 1.5em;
  text-align: justify;
  margin: 0.25em 0;
}
#main > ul, #main > ol {
  text-align: justify;
  margin: 0.25em 0;
  padding-left: 2.75em;
}
#main > :first-child {
  margin-top: 0;
}

figure {
  text-align: center;
}

.nb { white-space: nowrap; }

.tex, .tex .rm {
  font-family: "Latin Modern Roman", "Times New Roman", serif;
  font-weight: normal;
  font-style: normal;
}
.sf {
  font-family: 'Open Sans', Arial, sans-serif;
}
.sc {
  font-family: "Latin Modern Roman Caps", serif;
  font-weight: normal;
  font-style: normal;
}
.tex .tt, .tex a {
  font-family: "Latin Modern Mono", monospace;
  font-weight: normal;
  font-style: normal;
}
.m {
  font-family: "MathJax_Math-italic", "Latin Modern Roman", "Times New Roman", serif;
  font-weight: normal;
  font-style: normal;
}
.it {
  font-style: italic;
}
.bf {
  font-weight: bold;
}
.tex sup {
  font-size: 75%;
}

ul ul {
  padding-left: 1em;
}
ul ul li::marker {
  content: '– ';
  font-weight: bold;
}

table.bib tr > td {
  vertical-align: top;
}
table.bib tr > td:first-child {
  text-align: right;
}
table.bib tr > td:last-child {
  text-align: left;
  padding-left: 0.5em;
  text-align: justify;
}

.resume > div { margin: 1em 0; }
.resume h2 {
  display: inline-block;
  width: 25em;
  font-size: large;
  font-weight: bold;
  margin: 0;
}
.resume h3 {
  font-size: medium;
  font-weight: bold;
  margin: 5pt 0;
}
.resume h3 img {
  max-height: 16pt;
  width: 16pt;
}
.resume > div > p {
  text-align: justify;
  text-indent: 1.5em;
  margin: 0.25em 0;
}
.resume > div > ul {
  margin: 0.25em 0;
}

.skills > h2 {
  font-size: large;
  font-weight: bold;
  margin: 12pt 0 0 0;
}
.skills > h3 {
  font-size: medium;
  font-weight: bold;
  margin: 0;
}
.skills > ul {
  margin: 0;
}
